<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Portal de Gestión de Tareas</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="css/styles.css">
</head>
<body>
  <header>
    <h1><a href="index.html" class="tituloNav">Gestor Académico</a></h1>
  </header>

  <nav>
    <ul class="menu">
      <li><a href="/perfil.html">Perfil</a></li>
      <li><a href="/gestion-academica.html">Gestión Académica</a></li>
      <li><a href="menu-tareas.html">Tareas y Colaboración</a></li>
      <li><a href="#">Estadísticas</a></li>
      <li><a href="#">Logs</a></li>
    </ul>
  </nav>

  <main>
    <section id="contenido">
      <h2>Bienvenido</h2>
      <p>Selecciona una sección del menú para comenzar.</p>
    </section>
  </main>

  <footer>
    <p>&copy; 2025 Portal Académico | Proyecto con MongoDB y Node.js</p>
  </footer>
</body>
</html>
